<h1> Checkout </h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |attr, errors| %>
    <div><%= attr %>: <%= errors.join(',') %></div>
  <% end %>
<% end %>

<%= form_tag(checkout_create_path, id: "payment-form") do %>
  <select name="plan" id="plan" >
    <option value="basic">Básico - R$ 9,90</option>
    <option value="pro">Pro - R$ 19,90</option>
    <option value="enterprise">Enterprise - R$ 39,90</option>
  </select>



  <div class="usable-creditcard-form">
    <div class="wrapper">
      <div class="input-group nmb_a">
        <div class="icon ccic-brand"></div>
          <input autocomplete="off" class="credit_card_number" data-iugu="number" placeholder="Número do Cartão" type="text" value="" />
        </div>
      <div class="input-group nmb_b">
        <div class="icon ccic-cvv"></div>
          <input autocomplete="off" class="credit_card_cvv" data-iugu="verification_value" placeholder="CVV" type="text" value="" />
      </div>
      <div class="input-group nmb_c">
        <div class="icon ccic-name"></div>
          <input class="credit_card_name" data-iugu="full_name" placeholder="Titular do Cartão" type="text" value="" />
      </div>
      <div class="input-group nmb_d">
        <div class="icon ccic-exp"></div>
          <input autocomplete="off" class="credit_card_expiration" data-iugu="expiration" placeholder="MM/AA" type="text" value="" />
      </div>
    </div>
    <div class="footer">
      <img src="http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/cc-icons.e8f4c6b4db3cc0869fa93ad535acbfe7.png" alt="Visa, Master, Diners. Amex" border="0" />
      <a class="iugu-btn" href="http://iugu.com" tabindex="-1"><img src="http://storage.pupui.com.br/9CA0F40E971643D1B7C8DE46BBC18396/assets/payments-by-iugu.1df7caaf6958f1b5774579fa807b5e7f.png" alt="Pagamentos por Iugu" border="0" /></a>
    </div>
  </div>

  <input type="hidden" name="token" id="token" value="" readonly="true" size="64" style="text-align:center" />
     
  <div>
      <button type="submit">Assinar</button>
  </div>
<% end %>
