<h1> Checkout </h1>

<% if flash[:errors] %>
  <% flash[:errors].each do |attr, errors| %>
    <div><%= attr %>: <%= errors.join(',') %></div>
  <% end %>
<% end %>

<%= form_tag(checkout_boleto_create_path) do %>
  <select name="plan" id="plan" >
    <option value="basic">Básico - R$ 9,90</option>
    <option value="pro">Pro - R$ 19,90</option>
    <option value="enterprise">Enterprise - R$ 39,90</option>
  </select>

  <div>
      <button type="submit">Assinar</button>
  </div>

<% end %>
